$color-strawberry: #E72C70;
$color-heaven: #82D1E4;
$color-lemon: #F7F249;
$color-pinksecundary: #FF4C8E;
$color-vividblue: #60D1D6;
$color-warmlemon: #F7E200;
$color-pastelpink: #FF98CF;
$color-pastelblue: #CAE3E8;
$color-pastelyellow: #F8F594;
$color-black: #000000;
$color-white: #FFFFFF;